.cards-welcome-container {
    padding: 15px, 15px, 15px, 15px;
}

.card-welcome {
    width: 100%;
    height: auto;
    position: relative;
}

.btn-camp {
    width: 100%;
}

.btn-up {
    margin: 5px;
}